.head{
    border-bottom: 5px dotted rgba(0,0,0,0.7);
    background-color: rgba(0,0,255,0.1);
    padding: 30px;
}

.titulo{
    font-family: sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 15px;
}

.corpo{
    margin-top: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
    width: 700px;
}
.box{
    justify-content: center;
    align-items: center;
    display: flex;
}


/*//////post////////////*/

.post{
    border: 2px solid black;
    margin: 10px;
}

.post-title{
    text-align: center;
    font-family:cursive;
}

.post-texto{
    margin: 7px;
    font-family:sans-serif;
}

.post-autor{
    text-align: right;
}

.post-data{
    color:  rgba(0,0,0,0.3);
}

/*//////criação do post////////////*/

.admin-boxpost{
    padding: 10px;
}




